{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="text-center text-success">
                <i class="fa fa-fw fa-5x fa-check"></i>
            </div>
            <h1>
                Welcome to
                <span class="text-muted"> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</span>
            </h1>

            <div class="lead">
                Your application is ready to start working on it at:
                <code>{{ base_dir }}/</code>
            </div>
            <hr>
            <div id="next">
                <h2>What's next?</h2>

                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-fw fa-5x fa-book"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Read Symfony documentation to learn
                        </h4>

                        <p>
                            <a href="http://symfony.com/doc/{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')[:3] }}/book/page_creation.html">
                                How to create your first page in Symfony
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
